<footer class="container-fluid">
    <nav class="navbar fixed-bottom navbar-dark bg-primary">
        <h2 class="display-6 navbar-text" style="font-size: large;">&copy; copyright 2020</h2>   
    </nav> 
</footer>