<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/"> 
        <img src="/Assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="Tim's Home" loading="lazy">
        <b>Tim's Home</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/home"><i class="fas fa-laptop-house"></i> <b>Home</b> </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/about"><i class="fas fa-qrcode"></i> <b>About</b> </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/products"><i class="fas fa-cogs"></i> <b>Products</b> </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/services"><i class="fas fa-map-marked"></i> <b>Services</b> </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/component-list"><i class="fas fa-key"></i> <b>Login</b> </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/contact"><i class="fas fa-phone-volume"></i> <b>Contact</b> </a>
      </li>
      </ul>
     
    </div>
  </nav>