<%- include('../partials/header.ejs') -%>
<%- include('../partials/topnav.ejs') -%>

  <main class="container">
    <div class="row justify-content-md-center" >
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
        <h4 class="display-4" >Products</h4>
        <hr class="my-4">   
      </div>
    </div>
    <div class="row justify-content-md-center" >
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
          
        <div class="media">
          <img class="pull-left img-fluid img-thumbnail" style="width:100px; height: 100px;" src="../Assets/images/P1.png" >
           <div class=" pull-right wenzhang" style="margin-left: 10px;"> 
             <h4>Project 1: </h4> 
             <div>在内部，有一支新成立的特种部队“互联网商业部”，
               整合原来分散在各个产品部的互联网流量平台
             </div> 
              
            </div>
        </div>
        <div class="media" style="padding-top: 10px;">
          <img class="pull-left img-fluid img-thumbnail" style="width:100px;" src="../Assets/images/P2.png" >
           <div class=" pull-right wenzhang" style="margin-left: 10px;"> 
             <h4>Project 2:</h4> 
             <div>在内部，有一支新成立的特种部队“互联网商业部”，
               整合原来分散在各个产品部的互联网流量平台
             </div> 
            
            </div>
        </div>
        <div class="media" style="padding-top: 10px;">
          <img class="pull-left img-fluid img-thumbnail" style="width:100px;" src="../Assets/images/P3.png" >
           <div class=" pull-right wenzhang" style="margin-left: 10px;"> 
             <h4>Project 3:</h4> 
             <div>在内部，有一支新成立的特种部队“互联网商业部”，
               整合原来分散在各个产品部的互联网流量平台
             </div> 
             
           </div>
        </div>

              
          
      </div>
    </div>
   
      
      
  </div>
  </div>
 </main>
   

<%- include('../partials/endnav.ejs') -%>
<%- include('../partials/footer.ejs') -%>

