<%- include('../partials/header.ejs') -%>
<%- include('../partials/topnav.ejs') -%>

  <main class="container">
    <div class="row justify-content-md-center" >
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
        <h4 class="display-4" >Products</h4>
        <hr class="my-4">   
      </div>
    </div>
    <div class="row justify-content-md-center" >
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
          
        <div class="media">
          <img class="pull-left img-fluid img-thumbnail" style="width:100px; height: 100px;" src="../Assets/images/P1.png" >
           <div class=" pull-right wenzhang" style="margin-left: 10px;"> 
             <h4>Project 1: Product promotion design</h4> 
             <div>Make regular product promotion design for a branch of Homehardware.
             </div> 
              
            </div>
        </div>
        <div class="media" style="padding-top: 10px;">
          <img class="pull-left img-fluid img-thumbnail" style="width:100px;" src="../Assets/images/P2.png" >
           <div class=" pull-right wenzhang" style="margin-left: 10px;"> 
             <h4>Project 2: Website production</h4> 
             <div>Create a comprehensive website for a company's services.
                Including services, product introduction, online ordering and other functions.
             </div> 
            
            </div>
        </div>
        <div class="media" style="padding-top: 10px;">
          <img class="pull-left img-fluid img-thumbnail" style="width:100px;" src="../Assets/images/P3.png" >
           <div class=" pull-right wenzhang" style="margin-left: 10px;"> 
             <h4>Project 3: HR System</h4> 
             <div>A B/S HR system made for a company. Functions include posting positions 
               online, accepting resumes, registration of interview results, entry and exit records, etc.
             </div> 
             
           </div>
        </div>

              
          
      </div>
    </div>
   
      
      
  </div>
  </div>
 </main>
   

<%- include('../partials/endnav.ejs') -%>
<%- include('../partials/footer.ejs') -%>

