

  <main class="container">
    <div class="row justify-content-md-center" >
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
        <h4 class="display-4" ><%= title %> Me</h4><a href="../Assets/images/RS2019.pdf" style="padding-left: 8px;">My Resume</a>
        <hr class="my-4">   
      </div>
    </div>
    <div class="row justify-content-md-center" >
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
          
            <p class="text-center">
              <a href="../Assets/images/1.jpg" target="_blank">
              <img src="../Assets/images/1.jpg" alt="" width="150">
            </a>           
          </p>
          <p>
          My name is Jiyuan Huang, you can also call me Tim. 
            I have lived in Toronto for more than 3 years.
            <br>Currently I am learning software engineer technician program.
             I have been doing IT related work in China for more than ten years.
              I like learning computer knowledge because I believe 
              that software will change the future of mankind.</p>

              
          
      </div>
    </div>
   
      
      
  </div>
  </div>
 </main>
   


